service cloud.firestore {
  match /databases/{database}/documents {
    match /trips/{tripId} {
      allow write, update, delete: if request.auth.uid == resource.data.uid;
      allow read, create: if request.auth.uid != null;
    }
  }
}
