.edit-trip {

}

.edit-trip_control {
  @extend %clear-button;
  border-bottom: 1px dashed ;
  margin-right: 20px;
  line-height: 1.2;

  &:hover {
    opacity: .7;
  }

  &.-edit {
    color: $primary;

  }

  &.-remove {
    color: $danger;
  }
}

.edit-trip_form {
  margin-top: 20px;
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 10px;
}

.edit-trip_title {
  font-size: 18px;
}
