.filter_title {
  font-size: 20px;
}

.filter_row {
  display: flex;
  align-items: center;
}

.filter_col {
  &.-input {
    flex: 1;
  }

  &.-visibility {
    display: flex;
    align-items: center;
  }
}

.filter_sep {
  height: 20px;
  margin: 0 15px;
  border-left: 1px solid $border-color;
}

.filter_label{
  margin-right: 10px;
  margin-bottom: 0;
}

.filter_print {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-info;
}

.filter_print-label {
  margin-right: 10px;
}

.filter_visibility-input {
  display: block;
}
