.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-popover;
  font-size: 20px;
  background-color: rgba(#ffffff, 0.9);

  &.-full-page {
    position: fixed;
    z-index: $zindex-modal;
    font-size: 90px;
  }
}
