.profile {
  display: flex;
  align-items: center;
}

.profile_logout {
  @extend %clear-button;
  @extend %link;
}

.profile_user {
  display: flex;
  align-items: center;
  border-right: 1px solid $border-color;
  padding-right: 20px;
  margin-right: 20px;
}

.profile_user-icon {
  opacity: .2;
  margin-right: 5px;
}
