.trips-item {
  padding: 20px 0;
  border-bottom: 1px solid $border-color;

  &.-prev {
    opacity: 0.5;
  }
}
.trips-item_title-row {
  display: flex;
  align-items: center;
}

.trips-item_date-row {
  display: flex;
  align-items: baseline;
}

.trips-item_start {
  margin-left: 20px;
  font-size: 75%;
  opacity: 0.6;
}

.trips-item_date-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
  opacity: 0.6;
}


.trips-item_user-row {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.trips-item_user-icon {
  margin-right: 10px;
  font-size: 13px;
}
