%clear-button {
  display: inline-block;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-decoration: none;
  vertical-align: middle;
  background: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

%link {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
